@import "./scss/bootstrap";
.card {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px !important;
  border: 0;
}

#root{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main{
  flex: 1 0 auto;
  display: flex;
  justify-content: center;
   align-items: center;
   background: #373b44;
   background: -webkit-linear-gradient(to right, #4286f4, #373b44);
  background: linear-gradient(
    to right,
    #4286f4
    #373b44
  );
  }
